header .navbar{
	width: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 3vw;
}

#login{
	background-color: blue;
	margin-right: 4px;
}

#signup{
	background-color: white;
	color: darkblue;
	margin-right: 4px;
}

#banner{
	/*position: fixed;*/
	/*top: 0;*/
	width: 100vw;
	height: 100vh;
	background-image: url("../assets/footage2.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	z-index: -1;

	display: flex;
	align-items: center;
}
#banner div{
	background-color: #5553;
	padding: 10px;

	font-family: sans-serif;
	font-weight: 700;
	color: white;
	text-shadow: 2px 2px 4px black;
	margin-left: 120px;
	margin-top: 300px;
}
#banner div p{
	width: 80%;
}

#content{
	/*position: absolute;*/
	/*top: 100vh;*/
	width: 100%;
	min-height: 70vh;
	padding-top: 5vh;
	background-color: darkblue;

	display: flex;
	flex-direction: column;
	align-items: center;
}

#cards{
	margin-top: 2vh;
	margin-bottom: 2vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.card img{
	filter: invert(100%);
}

.ajak{
	margin-top: 30px;
	font-size: 2em;

	color: darkblue;
	background-color: white;
}

.ajak:hover{
	font-size: 2.5em;
}